In [1]:
import pandas as pd
import numpy as np

In [ ]:
#import ndc_dcr_list xl file

In [2]:
ndc_dcr_list=pd.read_excel(r"Downloads\InputFiles (1).xlsx",sheet_name="NDC_DCR_LIST")

In [3]:
ndc_dcr_list

     NDC_NBR  DCR_DRUG_LST_ID
0      10001                1
1      10001                2
2      10001                3
3      10001                4
4      10001                5
..       ...              ...
995    10025               44
996    10025               45
997    10025               46
998    10025               47
999    10025               48

[1000 rows x 2 columns]

In [ ]:
#basic checks ndc_dcr_list

In [4]:
ndc_dcr_list.shape

(1000, 2)

In [5]:
ndc_dcr_list.head()

   NDC_NBR  DCR_DRUG_LST_ID
0    10001                1
1    10001                2
2    10001                3
3    10001                4
4    10001                5

In [6]:
ndc_dcr_list.tail()

     NDC_NBR  DCR_DRUG_LST_ID
995    10025               44
996    10025               45
997    10025               46
998    10025               47
999    10025               48

In [7]:
ndc_dcr_list.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID'], dtype='object')

In [8]:
ndc_dcr_list.dtypes

NDC_NBR            int64
DCR_DRUG_LST_ID    int64
dtype: object

In [ ]:
# import ndc_dcr_list_hist

In [9]:
ndc_dcr_list_hist=pd.read_excel(r"Downloads\InputFiles (1).xlsx",sheet_name="NDC_DCR_LIST_HIST")

In [10]:
ndc_dcr_list_hist

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10005             47.0  2021-08-15 2024-09-03
1       10005             48.0  2022-04-20 2024-09-03
2       10005             49.0  2020-07-15 2022-07-05
3       10005             50.0  2021-04-03 2022-07-05
4       10005             51.0  2022-09-01 2024-09-03
...       ...              ...         ...        ...
1923    10060             28.0  2022-09-01 2024-09-03
1924    10060             29.0  2021-04-07 2024-09-03
1925    10060             30.0  2022-04-20 2024-09-03
1926    10060             31.0  2021-04-03 2024-09-03
1927    10060             32.0  2022-09-01 2024-09-03

[1928 rows x 4 columns]

In [ ]:
#basic checks ndc_dcr_list_hist

In [11]:
ndc_dcr_list_hist.shape

(1928, 4)

In [12]:
ndc_dcr_list_hist.head()

   NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0    10005             47.0  2021-08-15 2024-09-03
1    10005             48.0  2022-04-20 2024-09-03
2    10005             49.0  2020-07-15 2022-07-05
3    10005             50.0  2021-04-03 2022-07-05
4    10005             51.0  2022-09-01 2024-09-03

In [13]:
ndc_dcr_list_hist.tail()

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
1923    10060             28.0  2022-09-01 2024-09-03
1924    10060             29.0  2021-04-07 2024-09-03
1925    10060             30.0  2022-04-20 2024-09-03
1926    10060             31.0  2021-04-03 2024-09-03
1927    10060             32.0  2022-09-01 2024-09-03

In [14]:
ndc_dcr_list_hist.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE', 'DROP_DATE'], dtype='object')

In [15]:
ndc_dcr_list_hist.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID           float64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [ ]:
#change ndc_dcr_list_hist into ndc_dcr_list_hist1

In [16]:
ndc_dcr_list_hist1=ndc_dcr_list_hist

In [17]:
ndc_dcr_list_hist1

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10005             47.0  2021-08-15 2024-09-03
1       10005             48.0  2022-04-20 2024-09-03
2       10005             49.0  2020-07-15 2022-07-05
3       10005             50.0  2021-04-03 2022-07-05
4       10005             51.0  2022-09-01 2024-09-03
...       ...              ...         ...        ...
1923    10060             28.0  2022-09-01 2024-09-03
1924    10060             29.0  2021-04-07 2024-09-03
1925    10060             30.0  2022-04-20 2024-09-03
1926    10060             31.0  2021-04-03 2024-09-03
1927    10060             32.0  2022-09-01 2024-09-03

[1928 rows x 4 columns]

In [ ]:
#import date

In [18]:
from datetime import date
current_date=date.today()
print(current_date)

2023-09-05

In [ ]:
#update dropdate into futuredate&future not date

In [19]:
ndc_dcr_list_hist1_fudt=ndc_dcr_list_hist1[ndc_dcr_list_hist1['DROP_DATE']=="2024-09-03"]
ndc_dcr_list_hist1_fudt_nt=ndc_dcr_list_hist1[ndc_dcr_list_hist1['DROP_DATE']!="2024-09-03"]

In [20]:
ndc_dcr_list_hist1_fudt

      NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0       10005             47.0  2021-08-15 2024-09-03
1       10005             48.0  2022-04-20 2024-09-03
4       10005             51.0  2022-09-01 2024-09-03
6       10005             53.0  2021-05-23 2024-09-03
7       10005             54.0  2021-08-09 2024-09-03
...       ...              ...         ...        ...
1923    10060             28.0  2022-09-01 2024-09-03
1924    10060             29.0  2021-04-07 2024-09-03
1925    10060             30.0  2022-04-20 2024-09-03
1926    10060             31.0  2021-04-03 2024-09-03
1927    10060             32.0  2022-09-01 2024-09-03

[1757 rows x 4 columns]

In [21]:
ndc_dcr_list_hist1_fudt.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE', 'DROP_DATE'], dtype='object')

In [22]:
ndc_dcr_list_hist1_fudt_nt

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
2      10005             49.0  2020-07-15 2022-07-05
3      10005             50.0  2021-04-03 2022-07-05
5      10005             52.0  2021-04-07 2022-09-01
9      10005             56.0  2020-01-20 2022-09-01
13     10005             60.0  2022-07-05 2022-07-05
..       ...              ...         ...        ...
870    10025             28.0  2021-02-19 2022-04-20
874    10025             32.0  2022-04-20 2022-07-05
875    10025             33.0  2020-07-15 2022-04-20
881    10025             39.0  2022-03-01 2022-04-20
885    10025             43.0  2021-02-19 2022-07-05

[171 rows x 4 columns]

In [23]:
ndc_dcr_list.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID'], dtype='object')

In [24]:
ndc_dcr_list_hist1_fudt.columns

Index(['NDC_NBR', 'DCR_DRUG_LST_ID', 'INSERT_DATE', 'DROP_DATE'], dtype='object')

In [ ]:
#merge ndc_dcr_list and ndc_dcr_list_hist1_fudt

In [25]:
fudt_cr_merge=ndc_dcr_list[["NDC_NBR","DCR_DRUG_LST_ID"]].merge(ndc_dcr_list_hist1_fudt[["NDC_NBR","DCR_DRUG_LST_ID","INSERT_DATE","DROP_DATE"]],how="left",on=["NDC_NBR","DCR_DRUG_LST_ID"])

C:\Users\DELL\AppData\Local\Temp\ipykernel_3928\3925955819.py:1: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  fudt_cr_merge=ndc_dcr_list[["NDC_NBR","DCR_DRUG_LST_ID"]].merge(ndc_dcr_list_hist1_fudt[["NDC_NBR","DCR_DRUG_LST_ID","INSERT_DATE","DROP_DATE"]],how="left",on=["NDC_NBR","DCR_DRUG_LST_ID"])

In [26]:
fudt_cr_merge

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0      10001                1         NaT        NaT
1      10001                2         NaT        NaT
2      10001                3         NaT        NaT
3      10001                4         NaT        NaT
4      10001                5         NaT        NaT
..       ...              ...         ...        ...
995    10025               44  2022-07-05 2024-09-03
996    10025               45  2020-02-09 2024-09-03
997    10025               46  2021-08-15 2024-09-03
998    10025               47  2022-04-20 2024-09-03
999    10025               48  2021-04-03 2024-09-03

[1000 rows x 4 columns]

In [27]:
fudt_cr_merge.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [ ]:
#filter fudt_cr_merge["DROP_DATE"]=="2024-09-03"

In [28]:
fudt_cr_merge_fil=fudt_cr_merge[fudt_cr_merge["DROP_DATE"]=="2024-09-03"]

In [29]:
fudt_cr_merge_fil

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
109    10005               47  2021-08-15 2024-09-03
110    10005               48  2022-04-20 2024-09-03
113    10005               51  2022-09-01 2024-09-03
115    10005               53  2021-05-23 2024-09-03
116    10005               54  2021-08-09 2024-09-03
..       ...              ...         ...        ...
995    10025               44  2022-07-05 2024-09-03
996    10025               45  2020-02-09 2024-09-03
997    10025               46  2021-08-15 2024-09-03
998    10025               47  2022-04-20 2024-09-03
999    10025               48  2021-04-03 2024-09-03

[718 rows x 4 columns]

In [ ]:
#update dropdate into current date

In [30]:
fudt_cr_merge_fil["DROP_DATE"]=np.where(fudt_cr_merge_fil["DROP_DATE"]=="2024-09-03",current_date,fudt_cr_merge_fil["DROP_DATE"])

C:\Users\DELL\AppData\Local\Temp\ipykernel_3928\2676315416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fudt_cr_merge_fil["DROP_DATE"]=np.where(fudt_cr_merge_fil["DROP_DATE"]=="2024-09-03",current_date,fudt_cr_merge_fil["DROP_DATE"])

In [31]:
fudt_cr_merge_fil

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE   DROP_DATE
109    10005               47  2021-08-15  2023-09-05
110    10005               48  2022-04-20  2023-09-05
113    10005               51  2022-09-01  2023-09-05
115    10005               53  2021-05-23  2023-09-05
116    10005               54  2021-08-09  2023-09-05
..       ...              ...         ...         ...
995    10025               44  2022-07-05  2023-09-05
996    10025               45  2020-02-09  2023-09-05
997    10025               46  2021-08-15  2023-09-05
998    10025               47  2022-04-20  2023-09-05
999    10025               48  2021-04-03  2023-09-05

[718 rows x 4 columns]

In [32]:
fudt_cr_merge_fil.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE                  object
dtype: object

In [33]:
fudt_cr_merge_fil["DROP_DATE"]=fudt_cr_merge_fil["DROP_DATE"].astype("datetime64[ns]")

C:\Users\DELL\AppData\Local\Temp\ipykernel_3928\594712248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fudt_cr_merge_fil["DROP_DATE"]=fudt_cr_merge_fil["DROP_DATE"].astype("datetime64[ns]")

In [34]:
fudt_cr_merge_fil.dtypes

NDC_NBR                     int64
DCR_DRUG_LST_ID             int64
INSERT_DATE        datetime64[ns]
DROP_DATE          datetime64[ns]
dtype: object

In [35]:
#append ndc_dcr_list_hist1_fudt_nt,fudt_cr_merge_fil

In [36]:
append_fudt_nt_cr_fil=pd.concat([ndc_dcr_list_hist1_fudt_nt,fudt_cr_merge_fil],axis=0,ignore_index=True)

In [37]:
append_fudt_nt_cr_fil

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0      10005             49.0  2020-07-15 2022-07-05
1      10005             50.0  2021-04-03 2022-07-05
2      10005             52.0  2021-04-07 2022-09-01
3      10005             56.0  2020-01-20 2022-09-01
4      10005             60.0  2022-07-05 2022-07-05
..       ...              ...         ...        ...
884    10025             44.0  2022-07-05 2023-09-05
885    10025             45.0  2020-02-09 2023-09-05
886    10025             46.0  2021-08-15 2023-09-05
887    10025             47.0  2022-04-20 2023-09-05
888    10025             48.0  2021-04-03 2023-09-05

[889 rows x 4 columns]

In [38]:
append_fudt_nt_cr_fil

     NDC_NBR  DCR_DRUG_LST_ID INSERT_DATE  DROP_DATE
0      10005             49.0  2020-07-15 2022-07-05
1      10005             50.0  2021-04-03 2022-07-05
2      10005             52.0  2021-04-07 2022-09-01
3      10005             56.0  2020-01-20 2022-09-01
4      10005             60.0  2022-07-05 2022-07-05
..       ...              ...         ...        ...
884    10025             44.0  2022-07-05 2023-09-05
885    10025             45.0  2020-02-09 2023-09-05
886    10025             46.0  2021-08-15 2023-09-05
887    10025             47.0  2022-04-20 2023-09-05
888    10025             48.0  2021-04-03 2023-09-05

[889 rows x 4 columns]

In [39]:
import datetime
Previous_Date = datetime.datetime.today() - datetime.timedelta(days=3)
Previous_Date_Formatted = Previous_Date.strftime ('%Y-%m-%d') # format the date to ddmmyyyy
print (str(Previous_Date_Formatted))

2023-09-02

In [40]:
previous_D=(str(Previous_Date_Formatted))

In [41]:
previous_D

'2023-09-02'

In [43]:

append_fudt_nt_cr_fil["DROP_DATE"]=np.where((append_fudt_nt_cr_fil["DROP_DATE"]=="2024-09-03") |
                                            (append_fudt_nt_cr_fil["DROP_DATE"]< current_date-3),"Yes","No")

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'int'

In [45]:

append_fudt_nt_cr_fil["DROP_DATE"]=np.where(append_fudt_nt_cr_fil["DROP_DATE"]==current_date,previous_D,append_fudt_nt_cr_fil["DROP_DATE"])

TypeError: The DType <class 'numpy.dtype[str_]'> could not be promoted by <class 'numpy.dtype[datetime64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtype[str_]'>, <class 'numpy.dtype[datetime64]'>)